@model ML.Producto
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Lista de Productos</h2>

    <div class="row">
        @foreach (ML.Producto producto in Model.Productos)
        {
            <div class="col mt-3 pt-3">
                <div class="card text-white bg-gradient mb-3 border-4" style="width: 15rem; border: transparent;">
                    <img src="" class="card-img-top">
                    @if (producto.Imagen != null)
                    {
                        <img src="data:image/*;base64,@producto.Imagen" style=" height:50%; width:100%;">
                    }
                    else
                    {
                        <img src="~\Imagen\UsuarioSinFoto.png" style=" height:50%; width:100%;">
                    }
                    <div class="card-body" style="padding: 3px !important;">
                        <h5 class="card-title card-header text-center bg-secondary" id="pNombre" style="background-color:lightsalmon!important; border-radius:10px; font-weight: bolder; font-family: monospace;   text-transform: uppercase;font-size: 16px;}">
                            @producto.Nombre @producto.Descripcion
                        </h5>
                        <p class="card-text" id="pIdProducto" style="display: none">@producto.IdProducto</p>
                        <p class="card-text" id="pPrecioUnitario" style="color: black">Precio unitario: @producto.PrecioUnitario</p>
                        <p class="card-text" id="pStrock" style="color: black">Stock: @producto.Stock</p>
                        <p class="card-text" id="pProveedor" style="color: black">Proveedor: @producto.Proveedor.Nombre</p>
                        <p class="card-text" id="pDepartamento" style="color: black">Departamento: @producto.Departamento.Nombre</p>

                        <a href="@Url.Action("CardPost", "VentaProducto", new{})"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

